# Burnout in the Tech Industry

Burnout is the result of excessive and prolonged stress in the workplace. It impacts you physically, emotionally, and mentally. It has a negative impact on work performance as well.

Here is a short video about burnout.

After working as a teacher for 8 years, I saw many colleagues struggle with burnout and some leave the profession as a result. I wondered was this a concern for my new career and decided to investigate.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sqlite3

Initially I considered using multiple databases. However, after a quick EDA I realized two of the datasets would now work. Below is one of the datasets I decided not to use. While the column `Daily_Shouting` is intriguing, there was no connection to work, so I decided to save this for another time.

In [3]:
survey_df = pd.read_csv('data/Wellbeing_and_lifestyle_data.csv')

In [4]:
survey_df.head()

,Timestamp,FRUITS_VEGGIES,DAILY_STRESS,PLACES_VISITED,CORE_CIRCLE,SUPPORTING_OTHERS,SOCIAL_NETWORK,ACHIEVEMENT,DONATION,BMI_RANGE,...,LIVE_VISION,SLEEP_HOURS,LOST_VACATION,DAILY_SHOUTING,SUFFICIENT_INCOME,PERSONAL_AWARDS,TIME_FOR_PASSION,DAILY_MEDITATION,AGE,GENDER
0,7/7/15,3,2,2,5,0,5,2,0,1,...,0,7,5,5,1,4,0,5,36 to 50,Female
1,7/7/15,2,3,4,3,8,10,5,2,2,...,5,8,2,2,2,3,2,6,36 to 50,Female
2,7/7/15,2,3,3,4,4,10,3,2,2,...,5,8,10,2,2,4,8,3,36 to 50,Female
3,7/7/15,3,3,10,3,10,7,2,5,2,...,0,5,7,5,1,5,2,0,51 or more,Female
4,7/7/15,5,1,3,3,10,4,2,4,2,...,0,7,0,0,2,8,1,5,51 or more,Female

In [5]:
survey_df.describe()

,FRUITS_VEGGIES,PLACES_VISITED,CORE_CIRCLE,SUPPORTING_OTHERS,SOCIAL_NETWORK,ACHIEVEMENT,DONATION,BMI_RANGE,TODO_COMPLETED,FLOW,DAILY_STEPS,LIVE_VISION,SLEEP_HOURS,LOST_VACATION,DAILY_SHOUTING,SUFFICIENT_INCOME,PERSONAL_AWARDS,TIME_FOR_PASSION,DAILY_MEDITATION
count,12756.000000,12756.000000,12756.000000,12756.000000,12756.000000,12756.000000,12756.000000,12756.000000,12756.000000,12756.000000,12756.000000,12756.000000,12756.000000,12756.000000,12756.000000,12756.000000,12756.000000,12756.000000,12756.000000
mean,2.930229,5.338899,5.484635,5.577767,6.551427,3.963311,2.700925,1.400753,5.706256,3.126764,5.704845,3.711979,7.035121,2.833098,2.920508,1.728206,5.702963,3.266855,6.252822
std,1.451959,3.314035,2.851588,3.262486,3.083920,2.752040,1.863933,0.490070,2.633266,2.334881,2.885340,3.244291,1.202189,3.672006,2.689751,0.444902,3.108637,2.721427,3.034980
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,2.000000,3.000000,3.000000,3.000000,4.000000,2.000000,1.000000,1.000000,4.000000,1.000000,3.000000,1.000000,6.000000,0.000000,1.000000,1.000000,3.000000,1.000000,4.000000
50%,3.000000,5.000000,5.000000,5.000000,6.000000,3.000000,3.000000,1.000000,6.000000,3.000000,5.000000,3.000000,7.000000,0.000000,2.000000,2.000000,5.000000,2.000000,7.000000
75%,4.000000,8.000000,8.000000,10.000000,10.000000,6.000000,5.000000,2.000000,8.000000,4.000000,8.000000,5.000000,8.000000,5.000000,4.000000,2.000000,9.000000,5.000000,10.000000
max,5.000000,10.000000,10.000000,10.000000,10.000000,10.000000,5.000000,2.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,2.000000,10.000000,10.000000,10.000000

In [6]:
pd.set_option('max_columns', None)
pd.set_option('max_rows', None)

In [7]:
survey_df.tail()

,Timestamp,FRUITS_VEGGIES,DAILY_STRESS,PLACES_VISITED,CORE_CIRCLE,SUPPORTING_OTHERS,SOCIAL_NETWORK,ACHIEVEMENT,DONATION,BMI_RANGE,TODO_COMPLETED,FLOW,DAILY_STEPS,LIVE_VISION,SLEEP_HOURS,LOST_VACATION,DAILY_SHOUTING,SUFFICIENT_INCOME,PERSONAL_AWARDS,TIME_FOR_PASSION,DAILY_MEDITATION,AGE,GENDER
12751,2/23/2020 22:03:56,3,4,10,8,10,8,6,5,1,7,4,3,3,7,0,1,1,10,6,7,21 to 35,Female
12752,2/24/2020 2:44:30,3,3,6,5,2,5,1,0,2,0,0,6,0,7,0,0,2,3,0,2,36 to 50,Female
12753,2/24/2020 10:35:02,4,4,7,5,3,3,4,2,1,7,3,4,5,6,0,2,2,6,3,5,36 to 50,Female
12754,2/24/2020 12:54:10,3,3,10,4,8,10,3,3,1,10,3,2,1,6,0,1,1,10,1,10,21 to 35,Female
12755,2/24/2020 12:55:21,2,2,6,1,6,1,5,2,1,4,3,7,0,7,0,1,2,3,2,10,51 or more,Female

I decided to focus on a Survey that had been conducted from 2014 - 2019. Here, participants in the tech indutry answered 118 questions about themselves and their job.

In [32]:
con = sqlite3.connect('data/mental_health.sqlite')
survey_year_df = pd.read_sql_query("SELECT * from Survey", con)

In [33]:
survey_year_df.head()

   SurveyID                    Description
0      2014  mental health survey for 2014
1      2016  mental health survey for 2016
2      2017  mental health survey for 2017
3      2018  mental health survey for 2018
4      2019  mental health survey for 2019

In [34]:
question_df = pd.read_sql_query("SELECT * from Question", con)

In [35]:
question_df.loc[3]['questiontext']

'If you live in the United States, which state or territory do you live in?'

In [36]:
question_df.loc[103]['questiontext']

'Which of the following best describes your work position?'

I wanted to be able to get an idea of the questions asked. This way I could narrow down what I wanted to focus on.

In [37]:
question_df

                                          questiontext  questionid
0                                    What is your age?           1
1                                 What is your gender?           2
2                         What country do you live in?           3
3    If you live in the United States, which state ...           4
4                               Are you self-employed?           5
5      Do you have a family history of mental illness?           6
6    Have you ever sought treatment for a mental he...           7
7    How many employees does your company or organi...           8
8    Is your employer primarily a tech company/orga...           9
9    Does your employer provide mental health benef...          10
10   Is your anonymity protected if you choose to t...          11
11   Would you bring up a mental health issue with ...          12
12   Is your primary role within your company relat...          13
13   Do you know the options for mental health care...          14
14   Has your employer ever formally discussed ment...          15
15   Does your employer offer resources to learn mo...          16
16   If a mental health issue prompted you to reque...          17
17   Would you feel comfortable discussing a mental...          18
18   Would you feel comfortable discussing a mental...          19
19   Do you have medical coverage (private insuranc...          20
20   Do you know local or online resources to seek ...          21
21                     Do you have previous employers?          22
22   Have your previous employers provided mental h...          23
23   Were you aware of the options for mental healt...          24
24   Did your previous employers ever formally disc...          25
25   Did your previous employers provide resources ...          26
26   Was your anonymity protected if you chose to t...          27
27   Would you have been willing to discuss your me...          28
28   Would you be willing to bring up a physical he...          29
29   How willing would you be to share with friends...          30
30   Have your observations of how another individu...          31
31   Have you had a mental health disorder in the p...          32
32     Do you currently have a mental health disorder?          33
33   Have you ever been diagnosed with a mental hea...          34
34   If you have a mental health disorder, how ofte...          48
35   If you have a mental health disorder, how ofte...          49
36                        What country do you work in?          50
37          What US state or territory do you work in?          51
38   If you have been diagnosed or treated for a me...          52
39   If you have been diagnosed or treated for a me...          53
40   Do you believe your productivity is ever affec...          54
41   If yes, what percentage of your work time (tim...          55
42   Have you observed or experienced an unsupporti...          56
43   Would you feel more comfortable talking to you...          57
44   Have you ever discussed your mental health wit...          58
45   Describe the conversation you had with your em...          59
46   Have you ever discussed your mental health wit...          60
47   Describe the conversation with coworkers you h...          61
48   Have you ever had a coworker discuss their or ...          62
49   Describe the conversation your coworker had wi...          63
50   Overall, how much importance does your employe...          64
51   Overall, how much importance does your employe...          65
52   If you have revealed a mental health disorder ...          66
53   If you have revealed a mental health disorder ...          67
54   Was your employer primarily a tech company/org...          68
55   Would you have felt more comfortable talking t...          69
56   Did you ever discuss your mental health with y...          70
57   Describe the conversation you had with your pr...          71
58   Did you ever discuss your mental health with a...          72
59   Describe the conversation you had with your pr...          73
60   Did you ever have a previous coworker discuss ...          74
61   Describe the conversation your coworker had wi...          75
62   Overall, how much importance did your previous...          76
63   Overall, how much importance did your previous...          77
64   Are you openly identified at work as a person ...          78
65   Has being identified as a person with a mental...          79
66                    How has it affected your career?          80
67   If they knew you suffered from a mental health...          81
68   Describe the circumstances of the badly handle...          82
69   Have you observed or experienced supportive or...          83
70   Describe the circumstances of the supportive o...          84
71   Overall, how well do you think the tech indust...          85
72   Briefly describe what you think the industry a...          86
73   If there is anything else you would like to te...          87
74   Would you be willing to talk to one of us more...          88
75                                  What is your race?          89
76   Do you think that discussing a physical health...          90
77   Do you feel that your employer takes mental he...          91
78   If you have a mental health condition, do you ...          92
79   Do you work remotely (outside of an office) at...          93
80   Do you know the options for mental health care...          94
81   Has your employer ever discussed mental health...          95
82   Does your employer provide resources to learn ...          96
83   How easy is it for you to take medical leave f...          97
84   Do you think that discussing a mental health i...          98
85   Would you be willing to discuss a mental healt...          99
86   Would you be willing to discuss a mental healt...         100
87   Would you bring up a physical health issue wit...         101
88   Have you heard of or observed negative consequ...         102
89                    Any additional notes or comments         103
90   Do you think that discussing a mental health d...         104
91   Have you heard of or observed negative consequ...         105
92   If you have revealed a mental health issue to ...         106
93   If you have revealed a mental health issue to ...         107
94   Do you think that discussing a mental health d...         108
95   Do you think that discussing a physical health...         109
96   Would you have been willing to discuss a menta...         110
97   Did you feel that your previous employers took...         111
98   Did you hear of or observe negative consequenc...         112
99   Do you feel that being identified as a person ...         113
100  Do you think that team members/co-workers woul...         114
101  If yes, what condition(s) have you been diagno...         115
102  If maybe, what condition(s) do you believe you...         116
103  Which of the following best describes your wor...         117
104                              Do you work remotely?         118

In [38]:
answer_df = pd.read_sql_query("SELECT * from Answer", con)

In [39]:
answer_df[answer_df['QuestionID'] == 75].head()

,AnswerText,SurveyID,UserID,QuestionID
160557,-1,2017,2694,75
160558,-1,2017,2695,75
160559,-1,2017,2696,75
160560,-1,2017,2697,75
160561,They talked about as caregivers of family member.,2017,2698,75

Then I decided to take a look at characteristics of the participants that completed the survey from over the 6 years.

In [76]:
answer_df[answer_df['QuestionID']==1].sort_values('SurveyID', ascending=True).tail()

       AnswerText  SurveyID  UserID  QuestionID
203701         20      2019    3979           1
203700         32      2019    3978           1
203699         32      2019    3977           1
203763         38      2019    4041           1
203940         24      2019    4218           1

I want to get a count of `Gender`, `Age`, `Race`, and other descriptors.

In [57]:
Males = (answer_df.AnswerText == 'Male').sum() + (answer_df.AnswerText == 'male').sum()

3042

In [59]:
Females = (answer_df.AnswerText == 'Female').sum() + (answer_df.AnswerText == 'female').sum()
Females

1024

In [65]:
Nonbinary = (answer_df.AnswerText == 'Nonbinary').sum() + (answer_df.AnswerText == 'nonbinary').sum()
Nonbinary

9

In [49]:
descriptors =

In [72]:
descriptors['Gender'] = answer_df.loc[answer_df['AnswerText'] == 'Male']

In [73]:
descriptors['Race'] = answer_df[answer_df['QuestionID'] == 75]

In [74]:
descriptors.head()

  Gender Race
0    NaN  NaN
1    NaN  NaN
2    NaN  NaN
3    NaN  NaN
4    NaN  NaN